<div class="row section featured topspace">

    <h2 class="section-title"><span>Services</span></h2>

    <div class="">

        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Triathlon Coach</h3>
            <p>Do you swim, bike, and run or dream of it?  Let me help you achieve your next PR!</p>
            <p class="text-center"><a href="https://www.depaularacing.com/coaches" target="_blank" class="btn btn-action">Read more <i class="fa fa-external-link"></i></a></p>
        </div>

        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Speaker</h3>
            <p>Do you enjoy the messages I share on this blog?  I'm happy to share them with your organization no matter if its a small group of 10 or a keynote of 1000.  Contact me for more information.</p>
        </div>

        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Speaking Coach</h3>
            <p>I love public speaking and I believe you should too!  Everyone has a message and some stories that should be shared with the world.  Whether it is triathlon related or not I'm here to help. Contact me for more information. </p>
        </div>

        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Software Developer</h3>
            <p>10+ years experience in writing B2B code in multiple languages.  Maintaining small business and non-profit sites for the last 2 years.  I've helped people get off of Wordpress and speed up thier site while also making it more secure.  Contact me for quotes.</p>
        </div>

    </div>

</div> <!-- / section -->
